/* Navbar */
.navbar-nav a{
    font-size:18px;
  }
  
  .nav-link{
    text-decoration: none;
  }
  .card{
    border-radius: 15px!important;
  }
  .col-md-3{
    margin-top: 10px!important;
  }
  .cat{
    width: 20%;
    height: 100px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;
  }
  .cat-title{
    
  }
  
  
  
  
  
  
  
  
  @media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .scroll-div{
      overflow-x: scroll;
    }
    .products{
      display: flex;
    }
    .card{
      width: 45%;
      margin-right: 10px!important;
      margin-bottom: 10px!important;
    }
    .card-img, .card-img-bottom, .card-img-top{
      height: 120px!important;
    }
    .row>* {
      display: contents;
    }
    #new-products{
      text-align: center!important;
      margin: auto;
      margin-bottom: 20px;
    }
    .my-5 {
      margin-top: 0rem!important;      
    }
    .cat{
      width: 20%;
      font-size: 100%;
    }
  
  }
  
  